.about-us-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

.about-us-header {
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 1rem;
}

.about-us-text-info {
  text-align: center;
}

.about-us-benefits-wrapper {
  margin-top: 4rem;
  .benefits-container {
    margin: 4rem 0;
  }
}

.about-us-contact-form-wrapper {
  width: 100%;
  margin: 4rem 0;

  .contact-form-submit-result, #contact-form-submit-btn {
    align-self: center;
    text-align: center;
    width: 100%;
  }
}
