h1, h2, h3 {
  margin: 0;
}

.good-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

.good-info-wrapper {
  width: 50%;
  display: flex;
  padding: 2rem;
  gap: 2rem;
  flex-direction: column;
  justify-content: flex-start;
}

.images-section-wrapper {
  width: 50%;
  display: flex;
  padding: 2rem;
  justify-content: center;
  overflow: hidden;
}

.price-section {

}

.product-attributes {
  margin: 0;

  th {
    text-align: left;
    padding: 0.5rem 0;
  }

  tr {

  }

  td {
    border: 1px solid lightgrey;
    padding: .25rem .25rem;
    width: 50%;
  }

  .attibute-name {

  }

  .attribute-value {
    text-align: center;
    font-weight: 600;
  }
}

.contact-button {
  cursor: pointer;
  max-width: 12rem;
  padding: 1rem 2rem;
	background: var(--accent-color);
  border: none;
  color: rgba(0, 0, 0, 0.8);
  border-radius: .5rem;
  transition: 0.2s;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  &:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }

  h3 {
    margin-top: 0.3rem;
  }
}

.actions-section {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-size: 0.75rem;

  .cart-status {
    color: green;
  }

  a, a:visited {
    display: block;
    color: var(--accent-color);
    font-size: 1rem;
  }
}

#add-to-cart-notification {
  display: none;
}

@media screen and (max-width: 58.75em) {
  .good-wrapper {
    gap: 4rem;
    width: 100%;
    flex-direction: column;
  }

  .good-info-wrapper {
    width: fit-content;
    padding: 2rem;
  }

  .images-section-wrapper {
    width: 100%;
    padding: 0;
  }
}
