.page-products-content {
  margin: 2rem;

  h2 {
    text-align: center;
  }
}

.categories-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.category-container {
  width: 16rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: .25rem;
  h3 {
    text-align: center;
    margin: 0;
  }
}

.category-image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  background: white;

  justify-content: center;
  aspect-ratio: 4 / 3;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.popular-products {
  margin: 4rem auto;
  max-width: 100rem;

  h2 {
    text-align: center;
  }
}
